/* Global Styles */
.root {
    -fx-font-family: "Arial";
    -fx-background-color: #f5f5f5;
}

/* Home Screen  */
.home-container {
    -fx-background-color: linear-gradient(to bottom, #3498db, #2980b9);
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 15, 0, 0, 5);
}

.welcome-text {
    -fx-text-fill: #ecf0f1;
}

.title-text {
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 5, 0, 0, 2);
}

.subtitle-text {
    -fx-text-fill: #ecf0f1;
}

.description-text {
    -fx-text-fill: #bdc3c7;
}
